<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guillermobeltran.chorusinput" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="guillermobeltran.chorusinput.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="guillermobeltran.chorusinput.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".ChorusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chorus"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SpeakToMe"
            android:label="@string/title_activity_speak_to_me"
            android:parentActivityName=".AfterLogin"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guillermobeltran.chorusinput.AfterLogin" />
        </activity>
        <activity
            android:name=".TakePicture"
            android:label="@string/title_activity_take_picture"
            android:parentActivityName=".SpeakToMe"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guillermobeltran.chorusinput.SpeakToMe" />
        </activity>
        <activity
            android:name=".OrientPicture"
            android:label="@string/title_activity_orient_picture"
            android:parentActivityName=".TakePicture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guillermobeltran.chorusinput.TakePicture" />
        </activity>
        <activity android:name=".AfterLogin" >
            <intent-filter android:label="Chorus" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChorusChat"
            android:label="@string/title_activity_chorus_chat"
            android:parentActivityName=".AfterLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guillermobeltran.chorusinput.AfterLogin" />
        </activity>

        <receiver
            android:name=".AlarmUpdateChatList"
            android:enabled="true" />

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".ListenerServiceFromWear" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".OpenOnWatch"
            android:label="OpenOnWatch"
            android:theme="@style/Theme.Transparent" >
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        <activity
            android:name="com.yahoo.mobile.client.share.search.ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yahoo.mobile.client.share.search.ui.activity.ImageGalleryActivity"
            android:label="Chorus"
            android:logo="@drawable/back_icon"
            android:theme="@style/SearchToLink.Preview"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SearchBarActivity"
            android:label="@string/title_activity_search_bar" >
        </activity>
        <activity
            android:name=".Yelp"
            android:label="@string/title_activity_yelp" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name=".PushService.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <!-- <receiver android:name="com.parse.ParseBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name="com.parse.ParsePushBroadcastReceiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.parse.push.intent.RECEIVE" /> -->
        <!-- <action android:name="com.parse.push.intent.DELETE" /> -->
        <!-- <action android:name="com.parse.push.intent.OPEN" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "info.androidhive.parsenotifications" to match your app's package name. -->
                <category android:name="guillermobeltran.chorusinput" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".YelpResult"
            android:label="@string/title_activity_yelp_result" >
        </activity>
    </application>

</manifest>
